html, body
{
    font-family: 'Roboto', sans-serif;
}

th,
td
{
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
}

th:nth-child(1),
td:nth-child(1)
{
    padding-left: 0;
}

th:last-child,
td:last-child
{
    padding-right: 0;
}

thead
{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

thead td
{
    cursor: pointer;
}

thead tr td p:nth-child(2)
{
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
}

tbody
{
    font-size: 20px;
}

tbody tr td:nth-child(1)
{
    text-align: left;
    font-size: 14px;
}

table
{
    width: 100%;
}
